[submodule "home/.vim/vundle"]
	path = home/.vim/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "home/.tmux-powerline"]
	path = home/.tmux-powerline
	url = git://github.com/dashkb/tmux-powerline.git
[submodule "home/.zprezto"]
	path = home/.zprezto
	url = git://github.com/sorin-ionescu/prezto.git
