[core]
    excludesfile = ~/.gitignore
    autocrlf = input
[color]
    ui = auto
    interactive = auto
[alias]
    st = status -sb
    ci = commit
    co = checkout
    p  = push
    rb = rebase
    rblm = rebase -i master
    rbm =  rebase -i origin/master
    rbu =  rebase -i upstream/master
    rbc = rebase --continue
    dst = diff --stat
    pf = push -f
    pfu = push -fu
    staged = "diff --cached"
    oneline = "log --pretty=oneline"
    llog = log --date=local
    changes = diff --name-status -r
    lg = log --graph --pretty=format:'%Cred%h%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lgt = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    log-graph = log --all --graph --decorate
    log-refs = log --all --graph --decorate --oneline --simplify-by-decoration --no-merges
    log-timeline = log --format='%h %an %ar - %s'
    log-local = log --oneline origin..HEAD
    log-fetched = log --oneline HEAD..origin/master
[pager]
    diff = diff-so-fancy | less --tabs=2 -RFX
    show = diff-so-fancy | less --tabs=2 -RFX
[push]
    default = simple
[include]
    path = ~/.gitconfig.local
[rerere]
    enabled = true
[github]
	user = dashkb
	oauth-token = 
[user]
	email = kyle@kylebrett.com
