[core]
    excludesfile = ~/.gitignore
    autocrlf = input
    editor = vim
[color]
    ui = auto
    interactive = auto
[alias]
    st = status
    ci = commit
    co = checkout
    staged = "diff --cached"
    oneline = "log --pretty=oneline"
    llog = log --date=local
    changes = diff --name-status -r
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    log-graph = log --all --graph --decorate
    log-refs = log --all --graph --decorate --oneline --simplify-by-decoration --no-merges
    log-timeline = log --format='%h %an %ar - %s'
    log-local = log --oneline origin..HEAD
    log-fetched = log --oneline HEAD..origin/master
[push]
    default = simple
[include]
    path = ~/.gitconfig.local
[rerere]
    enabled = true
